* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Maqueto para pantallas grandes*/

.container-general {
  width: 100vw;
  height: 100vh;
}
/*El padre*/
.menu {
  background-color: rgb(195, 147, 240);
  height: 15%; /*De la pantalla quiero q la altura ocupe el 15%*/
  display: flex; /*Le agrego un display flex para que los hijos se pongan uno al lado del otro*/
  justify-content: space-around; /*Para que tengan un espacio entre sí*/
  align-items: center; /*Los elementos se quedan en el centro del nav*/
}

/*Para pantallas menores a 1024px*/
@media (max-width: 1024px) {
  /*quiero que los links del menú no se vean mas*/
  .menu-links {
    display: none;
  }
}
